{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello ! ✅</h1>

        <p>This friendly message is coming from:</p>

        <a href="{{ path('panier_ajout', {'id': 'x'}) }}"></a>
    </div>

    {% if items | length > 0 %}
        <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ item.produit.title }}</td>
            <td>{{ item.produit.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.produit.price * item.quantity }}</td>
            <td><a href="{{ path('panier_supprimer', {'id': item.produit.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-right" > Total : </td>
            <td>{{ total }}</td>
            <td></td>
        </tr>
        </tfoot>


    {% else  %}
        <p>Panier vide :(</p>
    {% endif %}

{% endblock %}
