{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <div class="container">
            <h1>Votre panier</h1>

        <table class="table">
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            {% set total = 0 %}
            {% if panierService | length > 0 %}
                {% for ligne in panierService %}
                    <tr>
                        <td>{{ ligne.produit.nom }}</td>
                        <td>{{ ligne.produit.prix }}</td>
                        <td>{{ ligne.quantite }}</td>
                        <td>{{ ligne.quantite * ligne.produit.prix }} €</td>
                        <td>
                            <a href="{{ path('panier_ajout', {id: ligne.produit.id}) }}" class="btn btn-outline-success">+</a>
                            <a href="{{ path('panier_remove', {id: ligne.produit.id}) }}" class="btn btn-outline-danger">-</a>
                        </td>
                        {% set total = total + ligne.quantite * ligne.produit.prix %}
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="3">
                        TOTAL
                    </th>
                    <td>
                        <b>{{ total }} </b>€
                    </td>
                </tr>
            {% else %}
                <p>Votre panier est vide</p>
            {% endif %}
        </table>

    </div>


    
    

    {#
    {% if panierService.fullPanier | length > 0 %}
        <thead>
        <tr>
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ panierService }}</td>
            <td>{{ panierService.produit.price }}</td>
            <td>{{ panierService.quantity }}</td>
            <td>{{ panierService.produit.price * panierService.quantity }}</td>
            <td><a href="{{ path('panier_remove', {'id': panierService.produit.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-right" > Total : </td>
            <td>{{ total }}</td>
            <td></td>
        </tr>
        </tfoot>


    {% else  %}
        <p>Panier vide :(</p>
    {% endif %}
    #}
{% endblock %}
