{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <div class="container">
            <h1>Votre panier</h1>

        <table class="table" id="cart-content" data-route="{{ path('affichage_panier') }}">
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
            {% set total = 0 %}
            {% if panierService | length > 0 %}
                {% for ligne in panierService %}
                    <tr>
                        <td data-item-id="item{{ loop.index }}">{{ ligne.produit.nom }}</td>
                        <td>{{ ligne.produit.prix }}</td>
                        <td data-quantity="{{ ligne.quantite }}">{{ ligne.quantite }}</td>
                        <td>{{ ligne.quantite * ligne.produit.prix }} €</td>
                        <td>
                            <a href="{{ path('panier_ajout', {id: ligne.produit.id}) }}" class="btn btn-outline-success">+</a>
                            <a href="{{ path('panier_remove', {id: ligne.produit.id}) }}" class="btn btn-outline-danger">-</a>
                        </td>
                        {% set total = total + ligne.quantite * ligne.produit.prix %}
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="3">
                        TOTAL
                    </th>
                    <td>
                        <b data-total="{{ total }}">{{ total }} </b>€
                    </td>
                </tr>
            {% else %}
                <p>Votre panier est vide</p>
            {% endif %}
        </table>
        {#
        <h1>zone de test panier -> checkout</h1>
        <div>
            {% for produit in panierService %}
                <div>
                    <span>le produits : {{ produit.produit.nom }}</span>
                </div>
                <span>la quantité : {{ produit.quantite }}</span>
            {% endfor %}
            <div>
                <span> le client : {{ app.user.username }}</span>
            </div>
            <div>
                <span> le total : {{ total }}</span>
            </div>
        </div>
        #}

        {% if panierService | length > 0 %}
            <form type="POST">
                <button type="submit" class="btn btn-success mb-2">Valider ma commande</button>
            </form>
        {% endif %}
    </div>

{% endblock %}
