{{ form_start(user_form) }}
    <form>
        <div class="form-group">
        {{ form_row(user_form.pseudo, {label: 'Pseudo:'}) }}
        </div>
        <div class="form-group">
        {{ form_row(user_form.plainPassword.first, {
            label: 'Mot de passe:'
        }) }}
        </div>
        <div class="form-group">
        {{ form_row(user_form.plainPassword.second, {
            label: 'Répéter le mot de passe:'
        }) }}
        </div>
        <div class="form-group">
        {{ form_row(user_form.email, {label: 'Email:'} ) }}
        </div>
        <div class="form-group">
        {{ form_row(user_form.nom, {label: 'Nom:'} ) }}
        </div>
        <div class="form-group">
        {{ form_row(user_form.prenom, {label: 'Prénom:'} ) }}
        </div>
        <div class="form-group">
        {{ form_row(user_form.adresse, {label: 'Adresse:'}) }}
        </div>
        <div class="form-group">
        {{ form_row(user_form.code_postal, {label: 'Code postal:'}) }}
        </div>
        <div class="form-group">
        {{ form_row(user_form.ville, {label: 'Ville:'}) }}
        </div>
        <div class="form-group">
        {{ form_row(user_form.telephone, {label: 'Téléphone:'}) }}
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-success">
                Enregisrer
            </button>

            <a href="{{ path('app_login') }}" class="btn btn-outline-danger">
                Retour
            </a>
        </div>
    </form>
{{ form_end(user_form) }}
