{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1 style="text-align: center">BIENVENUE CHEZ KOMBI TOYS !</h1>
        <div class="container" style="display: flex; justify-content: space-around">
            <div id="carouselExampleSlidesOnly" class="carousel slide w-60" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('/img/lego1.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/lego2.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/lego3.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/lego4.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                </div>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide w-60" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('/img/jouet1.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/jouet2.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/jouet3.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/jouet4.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
{# nouvéauté et promotion #}
    <div style="display: flex; justify-content: space-around; margin-top: 30px " >
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header" style="text-align: center; font-size: x-large; color: darkblue " ><b>Nouveautées</b></div>
            <div class="card-body">
                <a href="#">
                    {% for produit in produits %}
                        {% if produit.nouveau == true %}
                            <p>{{ produit.nom }}</p>
                        {% endif %}
                    {% endfor %}
                </a>
            </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header" style="text-align: center; font-size: x-large; color: darkblue " ><b>Promotions</b></div>
            <div class="card-body">
                <a href="#">
                <img style="width: 250px" src="{{ asset('/img/promotion.jpg') }}" class="d-block w-15" alt="...">
                </a>
            </div>
        </div>
    </div>

        <div class="card mb-3" style="width: 650px; margin-left: 350px; background-color: #380085">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white">Découvrer notre spécialité :</h5>
                        <h5 class="card-title" style="color: white">le sac à jouet !</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="#">
                    <img src="{{ asset('/img/336566_tn.jpg') }}" class="card-img" alt="...">
                    </a>
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white; margin-top: 60px">39,90€</h5>
                        <p class="card-text"><small style="color: white">(frais de port inclus)</small></p>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
