{% extends 'base.html.twig' %}

{% block body %}
    <div>
    <h1 style="text-align: center">BIENVENUE CHEZ KOMBI TOYS !</h1>
        <div class="container" style="display: flex; justify-content: space-around">
            <div id="carouselExampleSlidesOnly" class="carousel slide w-60" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('/img/lego1.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/lego2.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/lego3.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/lego4.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                </div>
            </div>
            <div id="carouselExampleSlidesOnly" class="carousel slide w-60" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('/img/jouet1.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/jouet2.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/jouet3.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/jouet4.jpg') }}" class="d-block w-15" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
