{% extends 'base.html.twig' %}

{% block title %}
    Kombi Toys
{% endblock %}

{% block body %}
    <div>
        <h1 style="text-align: center">BIENVENUE CHEZ KOMBI TOYS !</h1>
        <div class="container" style="display: flex; justify-content: space-around">
            <div id="carouselExampleSlidesOnly" class="carousel slide w-100 mb-3" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('/img/banner-1.jpg') }}" style="width: 100%" class="d-block w-10" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/banner-2.jpg') }}" style="width: 100%" class="d-block w-10" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('/img/banner-3.jpg') }}" style="width: 100%" class="d-block w-10" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
{# nouvéauté et sac à jouet #}

    <div class="card mb-3">
        <div class="card-body justify-content-between" style="background: #B0413E; color: white; display: flex">
            <div>
                <h3 class="card-title">Nouveautés</h3>
                <p class="card-text">Notre sléléction de nouveaux jouets</p>
            </div>
            <div>
                {% for produit in produits %}
                    {% if produit.nouveau == 1 %}
                        <p class="card-text">
                            <a href="{{ path('app_nouveau') }}" style="color: white">{{ produit.nom }}</a>
                        </p>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <img src="{{ asset('img/Kombi_Toys.png') }}" class="card-img-bottom" alt="..." style="height: 200px; width: 200px">
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body" style="background: #380058; color: white">
            <h3 class="card-title">Notre spécialité</h3>
            <p class="card-text">Le sac à jouet, l'accessoire indispensable pour la famille</p>
            <div style="display: flex; justify-content: space-around">
                <img src="{{ asset('img/336566_tn.jpg') }}" class="card-img" alt="..." style="height: 200px; width: 200px">
                <img src="{{ asset('img/336566-1.jpg') }}" class="card-img" alt="..." style="height: 200px; width: 200px">
                <img src="{{ asset('img/336566.jpg') }}" class="card-img" alt="..." style="height: 200px; width: 200px">
            </div>
        </div>

    </div>


{% endblock %}
